<%= form_with(model: hwahae_coupon, local: true) do |form| %>
  <% if hwahae_coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hwahae_coupon.errors.count, "error") %> prohibited this hwahae_coupon from being saved:</h2>

      <ul>
      <% hwahae_coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valid_type %>
    <%= form.date_select :valid_type %>
  </div>

  <div class="field">
    <%= form.hidden_field :sale_persent, value:10 %>
  </div>

  <div class="field">
    <%= form.label :couponname %>
    <%= form.text_field :couponname %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
