<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @request.event %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
