<p id="notice"><%= notice %></p>

<h1 class = 'mr'>내 리뷰</h1>

<table class='type05'>
  <thead>
    <tr>
      <th>리뷰 내용</th>
      <th>상품명</th>
	  <th>보기</th>
	  <th>수정하기</th>
	  <th>삭제하기</th>
    </tr>
  </thead>

  <tbody>
    <% @product_reviews.each do |product_review| %>
      <tr>
        <td><%= product_review.review_comment %></td>
		<% @products.where(id: product_review.product_id).each do |product| %>
        <td><%= product.product_name %></td>
		<%end%>
        <td><%= link_to 'Show', product_review %></td>
        <td><%= link_to 'Edit', edit_product_review_path(product_review) %></td>
        <td><%= link_to 'Destroy', product_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
